# Redirect HTTP to HTTPS
http://crm.goyalhariyanacrm.in {
    redir https://crm.goyalhariyanacrm.in{uri} permanent
}

http://api.goyalhariyanacrm.in {
    redir https://api.goyalhariyanacrm.in{uri} permanent
}

#http://13.204.5.231:5000 {
#       reverse_proxy crm_server:5000
#}

# HTTPS site
https://crm.goyalhariyanacrm.in {
    reverse_proxy crm_frontend:80
}

https://api.goyalhariyanacrm.in {
    reverse_proxy server:5000
}
