# Redirect HTTP to HTTPS
http://crm.goyalhariyanacrm.in {
    redir https://crm.goyalhariyanacrm.in{uri} permanent
}

http://api.goyalhariyanacrm.in {
    redir https://api.goyalhariyanacrm.in{uri} permanent
}

# HTTPS site - Frontend
https://crm.goyalhariyanacrm.in {
    reverse_proxy crm_frontend:80
}

# HTTPS API - Backend
https://api.goyalhariyanacrm.in {
    reverse_proxy crm_backend:5000
}

# LazyDocker For Logs. Run below Command to generate password hash
# sudo docker run --rm caddy:latest caddy hash-password --plaintext 'yourStrongPassword'
https://logs.goyalhariyanacrm.in {
    basic_auth {
        admin $2a$14$VzMr0deD1LOiY0ExYP6xhOAoSISmrsH.f1yX8eRWyTYebGTrr7WRC
    }
    reverse_proxy lazydocker-web:7681
}
